<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>16/09/03 09:42:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSanityTest.InitialSetUp()[pri:0, instance:SanityCheckTest.LoginSanityTest@2b98378d]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>16/09/03 09:42:21</td>   <td>8403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSanityTest.verifyValidLoginTest()[pri:0, instance:SanityCheckTest.LoginSanityTest@2b98378d]">verifyValidLoginTest</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>16/09/03 09:42:33</td>   <td>19980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSanityTest.CloseSetUp()[pri:0, instance:SanityCheckTest.LoginSanityTest@2b98378d]">&lt;&lt;CloseSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
</table>
