<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>16/09/06 22:25:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionTest.CloseSetUp()[pri:0, instance:RegressionCheckTest.LoginRegressionTest@1d057a39]">&lt;&lt;CloseSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@463232539</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>16/09/06 22:25:05</td>   <td>2055</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSanityTest.CloseSetUp()[pri:0, instance:SanityCheckTest.LoginSanityTest@475530b9]">&lt;&lt;CloseSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@513917026</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>16/09/06 22:24:46</td>   <td>-16804</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSanityTest.InitialSetUp()[pri:0, instance:SanityCheckTest.LoginSanityTest@475530b9]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@513917026</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>16/09/06 22:24:46</td>   <td>-16804</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionTest.InitialSetUp()[pri:0, instance:RegressionCheckTest.LoginRegressionTest@1d057a39]">&gt;&gt;InitialSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@463232539</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>16/09/06 22:25:01</td>   <td>-2770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionTest.verifyInvalidLoginCredentialTest()[pri:0, instance:RegressionCheckTest.LoginRegressionTest@1d057a39]">verifyInvalidLoginCredentialTest</td> 
  <td>pool-1-thread-2@463232539</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>16/09/06 22:25:01</td>   <td>-2770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSanityTest.verifyValidLoginTest()[pri:0, instance:SanityCheckTest.LoginSanityTest@475530b9]">verifyValidLoginTest</td> 
  <td>pool-1-thread-1@513917026</td>   <td></td> </tr>
</table>
